@(episodes: Seq[model.Episode])

@standardHeader(title = "BLAGCAST") {

<section id="list">
@for(episode <- episodes) {

      <article>
         <h1>@episode.title</h1>
         <time>@episode.friendlyTimeString</time>
         <!--  TODO - All this rendering should be in javascript, creating a widget. -->
         @for(url <- episode.audio) {
           <div class="player">
             <a class="download" href="@url"></a>
             <a class="popup" data-bind="click: toggleVideo"></a>
             <a class="play" data-bind="click: play, css: pausedCss"></a>
             <span class="progress" data-bind="template: { name: 'progress-bar', afterRender: setupPlayer }, click: skipTo">
             </span>
           </div>
         }
         @for(url <- episode.video) {
           <div class="video">
              <iframe title="@episode.title" src="@url" width="480" height="300" frameborder="0"></iframe>
           </div>
         }
         <section>
             <h2>Episode treasures</h2>
             <div class="shownotes">
               @Html(episode.desc)
             </div>
             <span class="toogleNotes"></span>
         </section>
       </article>
}
</section>

}