@(title: String)(content: Html)

@standardHeader(title) {
    <link rel="stylesheet" href="main.css">
} {
   <header>
        <a href="/" id="logo">Scalawags</a>
        <nav>
            <a href="https://twitter.com/thescalawags">Twitter</a>
						<a href="https://plus.google.com/103832137805220517975" rel="publisher">Google+</a>
            <a href="http://www.youtube.com/channel/UCHxNwi3l5CGZo1kG47k7i2Q/feed?filter=2">Youtube</a>
            <a href="http://thescalawags.libsyn.com/">Libsyn</a>
        </nav>
    </header>  
    <section id="list">  
      @content
    </section>section id="list">
}