@(title: String, episodes: Seq[model.Episode])

@podcastSkin(title) {

@for(episode <- episodes) {

      <article>
         <h1>@episode.title</h1>
         <time>@episode.friendlyTimeString</time>
         <!--  TODO - All this rendering should be in javascript, creating a widget. -->
         @for(link <- episode.audio) {
           <div class="player" data-href="@link"></div>
         }
         @for(link <- episode.video) {
           <div class="video" data-href="@link"></div>
         }
         <section>
             <h2>Episode treasures</h2>
             <div class="shownotes">
               @Html(episode.desc)
             </div>
             <span class="toogleNotes"></span>
         </section>
       </article>
}


<!-- Because we're stupidly using javascript to render stuff, we freak out here. -->
<script src="jquery.min.js"></script>
<script src="knockout-2.2.1.js"></script>
<script src="podcastWidget.js"></script>
}